<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
	<table border="1">
		<thead>
			<tr>
				<th >studentId</th>
				<th >studentName</th>
				<th >studentHobby</th>
				<th >studentMobile</th>
				<th >studentDOB</th>
				<th >studentSkills</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="student : ${students}">
				<td th:text="${student.studentId}">studentId</td>
				<td th:text="${student.studentName}">studentName</td>
				<td th:text="${student.studentHobby}">studentHobby</td>
				<td th:text="${student.studentMobile}">studentMobile</td>
				<td th:text="${student.studentDOB}">studentDOB</td>
				<td th:text="${student.studentSkills}">studentSkills</td>
			</tr>
		</tbody>
	</table>

</body>
</html>